html,
body {
    background-color: #101820ff;
    color: #f2aa4cff;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    background-color: #101820ff;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
textarea {
    border: none;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
textarea:focus {
    outline: none;
}
